/* 
COLOR PALETTE 
body: #FFFFFF
quotation background: #E3DEDF
banner + button: #C27096
header + introduction: #B9D2C3
footer: #1D201E

for fonts - using same colors on contrasting backgrounds
*/

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
}

.header {
  background-color: rgb(185, 210, 195);
  height: 56px;
  position: sticky;
  top: 0;
}

.header-content {
  width: 60vw;
  height: inherit;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Sigmar", cursive;
  font-size: 30px;
}

.links-right,
.links-right ul {
  display: flex;
  gap: 24px;
}

.links-right ul {
  margin: 0;
  padding: 0;
}

.links-right li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.sm-logo {
  height: 20px;
}

.footer {
  background-color: burlywood;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
