/* 
COLOR PALETTE 
body: #FFFFFF
quote background: #E3DEDF
header + introduction + banner: #B9D2C3
footer + button + tooltip: #1D201E

for fonts - using same colors on contrasting backgrounds
*/

/* media query breakpoints:
1. small - up to 767px
2. medium - between 768px and 1365px
3. big - above 1366px - default */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

#about,
#gallery,
#contact {
  scroll-margin-top: 6rem;
}

button {
  padding: 8px 16px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 600;
  background-color: #1d201e;
  color: #e3dedf;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  box-shadow: 0 0 5px #1d201e;
}

/* header */
.header {
  background-color: #b9d2c3;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-content {
  width: 60vw;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
  font-family: "Sigmar", cursive;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  height: 24px;
}

.links-right,
.links-right ul {
  display: flex;
  gap: 24px;
}

.links-right li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.sm-logo {
  height: 20px;
  width: 20px;
}

.sm-logo:hover {
  cursor: pointer;
}

ul li .tooltip {
  position: relative;
  display: inline-block;
}

ul li .tooltip .tooltip-text {
  /* tooltip positioning: */
  position: absolute;
  z-index: 2;
  top: 110%;
  left: 50%;
  margin-left: -100px; /* half of the width below - to center it below the icon */
  visibility: hidden; /* to make it popup on hover */
  /* tooltip styling: */
  width: 200px;
  background-color: #1d201e;
  color: #e3dedf;
  font-size: smaller;
  border-radius: 5px;
  text-align: center;
  padding: 4px 3px;
}

ul li .tooltip:hover .tooltip-text {
  visibility: visible;
}

ul li .tooltip .tooltip-text::after {
  /* this is the tooltip arrow to create a speech-bubble-style tooltip */
  content: " ";
  position: absolute;
  bottom: 100%; /* at the top of the tooltip */
  left: 50%;
  margin-left: -5px; /* same as border-width to keep the arrow centered */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1d201e transparent;
}

/* top section - introduction + picture */
.top-section {
  background-color: #b9d2c3;
  padding: 40px 0;
}

.top-section .content {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 100px;
}

.top-section h3 {
  margin: 20px 0;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  text-justify: inter-word;
}

.top-section img {
  height: 400px;
  width: 400px;
  box-shadow: 0 2px 5px #1d201e80;
}

/* gallery */
.gallery-preview {
  width: 75vw;
  margin: 60px auto;
}

.gallery-preview h2 {
  text-align: center;
  margin: -10px 0 30px;
  font-size: 28px;
  font-weight: 500;
}

.gallery-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  max-width: 250px;
  flex: 1;
  display: flex;
  flex-direction: column;
  border: solid 2px #e3dedf;
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  margin: 0;
}

.card h3 {
  font-size: 16px;
  font-weight: 400;
  padding: 0 25px 10px;
  text-align: center;
  margin: 0;
}

.card:hover {
  box-shadow: 0 0 5px 1px #b9d2c3;
}

/* overlay modal for displaying pictures */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #1d201e;
  background-color: #1d201ee0;
  cursor: default;
}

.modal .modal-content {
  margin: 0 auto;
  display: block;
  width: 80%;
  max-width: 700px;
  animation-name: zoom;
  animation-duration: 0.7s;
}

@keyframes zoom {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #e3dedf;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: white;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .modal-content {
    width: 100%;
  }
}

/* quote */
.quote-container {
  background-color: #e3dedf;
  padding: 60px 0;
}

.quote,
.quote-author {
  margin: 0 auto;
  padding: 0;
  width: 60vw;
}

.quote {
  font-size: 28px;
  font-weight: 200;
  font-style: italic;
}

.quote-author {
  text-align: end;
  font-size: 24px;
}

/* banner */
.banner-section {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.banner {
  width: 50vw;
  padding: 40px;
  background-color: #b9d2c3;
  border-radius: 10px;
  display: flex;
  align-content: center;
  justify-content: space-evenly;
}

.banner-text h3 {
  font-size: 18px;
  font-weight: 400;
}

.banner button {
  align-self: center;
}

/* footer */

.footer {
  background-color: #1d201e;
  color: #e3dedf;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries - small screen up to 765px */
@media screen and (max-width: 766px) {
  button {
    min-width: fit-content;
    font-size: 0.9rem;
    padding: 6px 10px;
  }

  .header-content {
    width: 90vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .links-right {
    margin: 10px 0;
  }

  .top-section .content {
    width: 85vw;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }

  .top-section h1 {
    font-size: 1.4rem;
  }

  .top-section h3 {
    font-size: 1rem;
  }

  .top-section img {
    max-height: 300px;
    max-width: 300px;
    box-shadow: 0 2px 5px #1d201e80;
  }

  .gallery-preview {
    width: 90vw;
  }

  .gallery-preview h2 {
    font-size: 1.2rem;
  }

  .card {
    max-width: 180px;
  }

  .card h3 {
    font-size: 0.85rem;
    padding: 0 10px 10px;
  }

  .quote-container {
    padding: 50px 0;
  }

  .quote,
  .quote-author {
    font-size: 1.1rem;
    width: 80vw;
  }

  .banner {
    width: 75vw;
    padding: 25px;
    flex-direction: column;
  }

  .banner button {
    align-self: flex-start;
  }

  .banner-text h2 {
    font-size: 1.2rem;
  }

  .banner-text h3 {
    padding: 6px 0;
    font-size: 0.9rem;
  }

  .modal {
    width: 100dvw;
    height: 100dvh;
  }

  .modal .modal-content {
    margin: 0 auto;
    display: block;
    width: 80vw;
    max-width: 600px;
  }
}
