* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
}

/* header */
.header {
  background-color: #b9d2c3;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header-content {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 60px;
  font-family: "Sigmar", cursive;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo-icon {
  height: 24px;
}

.links-right,
.links-right ul {
  display: flex;
  gap: 24px;
}

.links-right ul {
  margin: 0;
  padding: 0;
}

.links-right li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.sm-logo {
  height: 20px;
}

.sm-logo:hover {
  cursor: pointer;
}

ul li .tooltip {
  position: relative;
  display: inline-block;
}

ul li .tooltip .tooltip-text {
  /* tooltip positioning: */
  position: absolute;
  z-index: 2;
  top: 110%;
  left: 50%;
  margin-left: -100px; /* half of the width below - to center it below the icon */
  visibility: hidden; /* to make it popup on hover */
  /* tooltip styling: */
  width: 200px;
  background-color: #1d201e;
  color: #e3dedf;
  font-size: smaller;
  border-radius: 5px;
  text-align: center;
  padding: 4px 3px;
}

ul li .tooltip:hover .tooltip-text {
  visibility: visible;
}

ul li .tooltip .tooltip-text::after {
  /* this is the tooltip arrow to create a speech-bubble-style tooltip */
  content: " ";
  position: absolute;
  bottom: 100%; /* at the top of the tooltip */
  left: 50%;
  margin-left: -5px; /* same as border-width to keep the arrow centered */
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #1d201e transparent;
}

/*gallery*/
.gallery {
  flex: 1;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  list-style-type: none;
  padding-bottom: 40px;
}

.gallery-section h1 {
  text-align: center;
  padding: 50px;
  font-size: 48px;
  font-weight: 400;
}

.thumbnail {
  max-height: 250px;
  max-width: 250px;
  transition: transform 0.3s;
  cursor: pointer;
  box-shadow: 0 0 16px 2px #e3dedf;
}

.thumbnail:hover {
  transform: scale(1.1);
}

.thumbnail img {
  height: 100%;
  width: 100%;
}

.thumbnail img:focus-visible {
  outline: none;
  box-shadow: 0 0 10px 5px #b9d2c3;
}

.modal {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background-color: #1d201e;
  background-color: #1d201ee0;
  backdrop-filter: blur(3px);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal.hidden {
  display: none;
}

.modal .img-section {
  display: flex;
  align-items: center;
}

.modal img {
  margin: 0 auto;
  width: 70%;
  max-width: 600px;
  animation-name: zoom;
  animation-duration: 0.7s;
}

@keyframes zoom {
  from {
    transform: scale(0.3);
  }
  to {
    transform: scale(1);
  }
}

.modal__close {
  position: absolute;
  top: 35px;
  right: 35px;
  background-color: transparent;
  border: transparent;
  color: #e3dedf;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__close:hover,
.modal__close:focus {
  color: white;
  cursor: pointer;
}

.modal__close:focus-visible {
  outline: none;
  background-color: #b9d2c380;
  box-shadow: 0 0 5px 5px #b9d2c380;
}

.modal__arrow {
  color: #e3dedf;
  font-size: 80px;
  font-weight: 600;
  margin: 0 32px;
  background-color: transparent;
  border: transparent;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__arrow:hover,
.modal__arrow:focus {
  color: white;
  cursor: pointer;
}

.modal__arrow:focus-visible {
  outline: none;
  background-color: #b9d2c380;
  box-shadow: 0 0 5px 5px #b9d2c380;
}

/* footer */
.footer {
  background-color: #1d201e;
  color: #e3dedf;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries - small screen up to 767px */
@media screen and (max-width: 767px) {
  .header-content {
    width: 90vw;
    flex-direction: column;
    align-items: flex-start;
  }

  .links-right {
    margin: 10px 0;
  }

  .gallery {
    width: 95vw;
    gap: 8px;
  }

  .gallery-section h1 {
    font-size: 1.5rem;
    padding: 35px;
  }

  .thumbnail {
    max-height: 170px;
    max-width: 170px;
  }

  .modal {
    width: 100dvw;
    height: 100dvh;
  }

  .modal .img-section {
    width: 95vw;
    display: flex;
    align-items: center;
  }

  .modal img {
    margin: 0 auto;
    width: 50vw;
  }

  .modal__arrow {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1365px) and (orientation: landscape) {
  .header-content {
    width: 75vw;
  }

  .gallery {
    width: 90vw;
    gap: 10px;
  }

  .gallery-section h1 {
    font-size: 2rem;
    padding: 40px;
  }

  .thumbnail {
    max-height: 200px;
    max-width: 200px;
  }

  .modal {
    width: 100dvw;
    height: 100dvh;
  }

  .modal .img-section {
    width: 90vw;
  }

  .modal img {
    margin: 0 auto;
    width: 60vw;
  }

  .modal__arrow {
    font-size: 4rem;
  }
}
